.button_type_edit {
  background-color: black;
  width: 18px;
  height: 18px;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/button_type_edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

@media (min-width: 450px) {
  .button_type_edit {
    width: 25px;
    height: 25px;
    margin-top: 7px;
  }
}