.button_type_edit {
  background-color: rgba(255, 255, 255, 0);
  width: 18px;
  height: 18px;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/button_type_edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

@media (min-width: 450px) {
  .button_type_edit {
    background-size: 25px 25px;
  }
}

.button_type_edit:hover {
  cursor: pointer; 
  opacity: .6; 
} 