.profiles__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 8px;
}

@media (min-width: 720px) {
  .profiles__subtitle {
   min-width: 294px;
   text-align: start;
   font-size: 18px;
   line-height: 22px;
   margin: 0;
   max-width: 300px;
  }
}