.profiles__avatar {
  display: block;
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
}

@media (min-width: 720px) {
  .profiles__avatar {
   max-height: 127.5px;
  }
}