.profiles__buttons-add {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  width: 282px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(../../../images/button_type_add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  margin-top: 18px;
  grid-area: add;
}

@media (min-width: 330px) {
  .profiles__buttons-add {
    width: 100%;
  }
}

@media (min-width: 930px) {
  .profiles__buttons_add {
    max-width: 150px;
    margin: 0;
    background-size: 22px;
    align-self: center;
    justify-self: end;
  }
}

.profiles__buttons-add:hover {
  cursor: pointer;
  opacity: .6;
} 
