.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding-top: 26px;
  padding-left: 30px;
}

@media (min-width: 450px) {
  .container{
    padding: 0;
    gap: 18px;
  }
}